/*
 * Copyright (c) 2025 ZitaoTech
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define LOWER 1
#define RAISE 2
#define MOUSE 3
#define BOT bootloader

/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mkp LCLK>, <&bt BT_CLR>;
        };
    };

    behaviors {
        tdRMCLK: tap_dance_R_LMouse {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mkp RCLK>, <&mkp MCLK>;
        };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            bindings = <&kp &kp>;
        };
    };

    behaviors {
        LMouse_sc: behavior_LMouse_Scroll {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";     /* 单击优先 */
            tapping-term-ms = <200>;       /* 长按阈值 */
            bindings = <&none &mkp>;        /* hold=none, tap=Lmouse */
        };
    };

    behaviors {
        M_kp: behavior_mouse_keypress {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";     /* 单击优先 */
            tapping-term-ms = <200>;       /* 长按阈值 */
            bindings = <&mkp &kp>;        /* hold=mou key press, tap=key*/
        };
    };

    behaviors {
        BLE_encoder: BLE_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&bt BT_NXT>, <&bt BT_PRV>;
        };

        PrintScreen2FastStone: PrintScreen2FastStone {
            compatible = "zmk,behavior-tap-dance";
            label = "PRINTSCREEN2FASTSTONE";
            #binding-cells = <0>;
            bindings =
                <&mt LC(LS(PRINTSCREEN)) LS(PRINTSCREEN)>,
                <&kp LC(PRINTSCREEN)>,
                <&kp LC(LS(LA(PRINTSCREEN)))>;

            tapping-term-ms = <650>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&mt LEFT_ALT TAB  &mt LA(N1) Q  &mt LA(N2) W  &mt LS(LA(LG(E))) E  &mt LC(Y) R  &kp T        &kp Y      &kp U      &kp I           &kp O         &kp P       &kp BSPC
&kp LEFT_SHIFT    &mt LC(A) A   &mt LA(N3) S  &mt LS(LA(LG(D))) D  &mt LC(F) F  &mt LC(G) G  &mkp LCLK  &mkp LCLK  &kp H           &kp J         &kp K       &kp L          &kp SEMI         &kp SQT
&kp LEFT_CONTROL  &mt LC(Z) Z   &mt LC(X) X   &mt LC(C) C          &mt LC(V) V  &mt LC(B) B  &kp PG_DN  &kp PG_UP  &msc SCRL_DOWN  &msc SCRL_UP  &kp N       &kp M          &kp COMMA        &kp DOT    &kp FSLH  &kp RSHFT
&kp LCTRL         &kp LGUI      &kp LALT      &kp C_MUTE           &mo 3        &lt 1 SPACE  &mo 1      &mo 1      &kp SPACE       &mo 3         &kp C_MUTE  &kp RIGHT_ALT  &kp RIGHT_SHIFT  &kp RCTRL
            >;

            sensor-bindings = <&inc_dec_kp LEFT RIGHT>, <&inc_dec_kp UP DOWN>;
        };

        number_layer {
            display-name = "NUMBER";
            bindings = <
&kp BACKSPACE  &mt LG(N1) N1               &mt LG(N2) N2     &mt LG(N3) N3    &mt LG(N4) N4                   &mt LG(N5) N5                           &kp LG(LC(LS(LA(C))))  &kp LG(LA(Z))  &none       &none       &none   &none
&kp ESCAPE     &mt LG(N0) N0               &mt LG(N9) N9     &mt LG(N8) N8    &mt LG(N7) N7                   &mt LG(N6) N6                           &mkp RCLK              &mkp RCLK      &none       &none       &none   &none   &none   &none
&kp CAPS       &mt SEMICOLON SINGLE_QUOTE  &mt PERIOD COMMA  &mt SLASH MINUS  &mt RIGHT_BRACKET LEFT_BRACKET  &mt RIGHT_PARENTHESIS LEFT_PARENTHESIS  &trans                 &trans         &bl BL_DEC  &bl BL_INC  &none   &none   &none   &none   &none  &kp LC(LS(B))
&trans         &trans                      &trans            &trans           &trans                          &trans                                  &trans                 &trans         &trans      &trans      &trans  &trans  &trans  &trans
            >;

            sensor-bindings =
                <&inc_dec_kp LC(PLUS) LC(MINUS)>,
                <&inc_dec_kp UP DOWN>;
        };

        mouse_layer {
            display-name = "MOUSE";
            bindings = <
&kp BACKSPACE  &kp DEL   &mt LA(INSERT) INSERT  &kp LG(E)        &kp LG(R)  &PrintScreen2FastStone  &none  &none  &none  &none  &none  &none
&kp HOME       &kp LEFT  &kp UP                 &kp DOWN         &kp RIGHT  &kp END                 &none  &none  &none  &none  &none  &none  &none  &none
&mt P Y        &mkp MB4  &msc SCRL_LEFT         &msc SCRL_RIGHT  &mkp MB5   &kp LA(END)             &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none          &none     &none                  &none            &none      &none                   &none  &none  &none  &none  &none  &none  &none  &none
            >;
        };

        symbol_layer {
            bindings = <
&kp BACKSPACE        &mt GRAVE EXCLAMATION           &mt TILDE AT_SIGN  &mt HASH ASTERISK     &mt DOLLAR AMPERSAND  &mt CARET PERCENT    &trans  &trans  &trans  &trans  &trans  &trans
&mt BACKSLASH SLASH  &mt SINGLE_QUOTE DOUBLE_QUOTES  &mt COMMA PERIOD   &mt UNDERSCORE MINUS  &mt PLUS EQUAL        &mt SEMICOLON COLON  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans               &trans                          &trans             &trans                &trans                &trans               &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans               &trans                          &trans             &trans                &trans                &trans               &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;

            label = "SYMBOL";
        };

        fn_layer {
            display-name = "Fn";
            bindings = <
&kp ESC                &kp F1        &kp F2        &kp F3        &kp F4         &kp F5         &kp F6  &kp F7  &kp F8  &kp F9  &kp F10       &kp F11
&kp LG(LC(LS(LA(C))))  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3   &bt BT_SEL 4   &none   &none   &none   &none   &out OUT_USB  &out OUT_BLE  &kp PRINTSCREEN  &kp F12
&kp LA(F4)             &kp LC(W)     &sys_reset    &bootloader   &kp LG(LA(Z))  &kp LC(LS(B))  &none   &none   &none   &none   &none         &none         &bootloader      &sys_reset  &kp SCROLLLOCK  &kp PAUSE_BREAK
&trans                 &trans        &trans        &trans        &trans         &trans         &trans  &trans  &trans  &trans  &trans        &trans        &trans           &trans
            >;
        };

        oriMOUSE_layer {
            display-name = "oriMOUSE";
            bindings = <
&kp TAB    &kp Q     &kp W     &kp E  &kp R  &kp T      &kp Y           &M_kp MB3 U       &kp I     &kp O        &kp P       &kp BSPC
&kp CAPS   &kp A     &kp S     &kp D  &kp F  &kp G      &mkp LCLK       &mkp LCLK         &kp H     &M_kp MB1 J  &kp K       &kp L        &kp SEMI   &kp ENTER
&kp LSHFT  &kp Z     &kp X     &kp C  &kp V  &kp B      &msc SCRL_DOWN  &msc SCRL_UP      &none     &none        &kp N       &M_kp MB2 M  &kp COMMA  &kp DOT    &kp FSLH  &kp RSHFT
&kp LCTRL  &kp LGUI  &kp LALT  &none  &mo 3  &kp SPACE  &mkp MB1        &LMouse_sc 0 MB1  &tdRMCLK  &mo 3        &kp C_MUTE  &kp MINUS    &kp EQUAL  &kp GRAVE
            >;
        };
    };
};
